<div class="login-container">
  <div class="login-form">
    <h2 class="login-form__header">Login</h2>

    <form [formGroup]="loginForm">
      <div class="login-form__register">
        Don't have an account? <a class="login-form__register-link" [routerLink]="['/signup']">Create a new one</a>
      </div>

      <mat-form-field appearance="outline" class="login-form__field">
        <mat-label>Your e-mail</mat-label>
        <input matInput formControlName="email" placeholder="Enter email" />
        <mat-error *ngIf="emailHasErrorRequired">Email is required.</mat-error>
        <mat-error *ngIf="emailHasError || emailHasErrorPattern">Invalid email format.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-form__field">
        <mat-label class="mat">Your password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Enter password"
          formControlName="password"
          autocomplete="new-password" />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Toggle password visibility'"
          type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordhasErrorRequired">Password is required.</mat-error>
        <mat-error *ngIf="passwordhasErrorMinLength">Password must be at least 8 characters.</mat-error>
        <mat-error *ngIf="passwordhasErrorPattern"> Must include upper, lower, digit, and no whitespace. </mat-error>
      </mat-form-field>
      <button
        mat-stroked-button
        class="login-form__login-button custom-disabled-style"
        [disabled]="loginForm.invalid"
        (click)="onSubmit()">
        Login
      </button>
    </form>

    <div class="login-form__forgot-password">
      <a class="login-form__forgot-password-link" href="#">Forgot Your Password?</a>
    </div>
  </div>

  <div class="gradient"></div>
</div>
