@use '@angular/material' as mat;

.header-icon__link {
  @include mat.icon-button-overrides((icon-color: var(--mat-sys-primary),
      state-layer-color: var(--mat-sys-primary),
      ripple-color: var(--mat-sys-inverse-primary)));
  display: flex;
  align-items: center;

  padding: 0.5rem;
  border-radius: var(--mat-sys-corner-full);
}
