<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="profile-form__field">
      <mat-label class="mat">Your current password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="currentPassword" />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Toggle password visibility'"
        type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="register-form__field">
      <mat-label class="mat">Your new password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Toggle password visibility'"
        type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordRequiredError">Password is required.</mat-error>
      <mat-error *ngIf="passwordMinLengthError">Password must be at least 8 characters.</mat-error>
      <mat-error *ngIf="passwordPatternError">Must include upper, lower, digit, and no whitespace.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-raised-button color="primary">Cancel</button>
  <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="!passwordForm.valid">Change</button>
</mat-dialog-actions>
