:root {
  --color-primary: rgb(0, 92, 187);
  --color-primary: #005cbb;
  --color-secondary: #e6ecf8;
  --color-tertiary: rgb(0, 0, 239);

  --button-radius-padding: 0.5rem;

  --mat-menu-item-label-text-color: var(--mat-sys-primary);
  // --mat-ripple-color: var(--mat-sys-primary-fixed-dim);
  }
